.row {
  display: flex;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.jc-bt {
  justify-content: space-between;
}

.as-s {
  align-self: start;
}

.ai-c {
  align-items: center;
}

.gap-0_5 {
  gap: 0.8rem;
}

.gap-1 {
  gap: 1rem;
  row-gap: 1rem;
}

.gap-2 {
  gap: 2rem;
  row-gap: 2rem;
}

.gap-3 {
  gap: 3rem;
  row-gap: 3rem;
}

.lg-1 {
  font-size: 1.2em;
}

.sm-1 {
  font-size: 0.8em;
}

.mtb-1 {
  margin: 1em 0;
}

.mtb-2 {
  margin: 2em 0;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-2 {
  margin-top: 2em;
}

.ml-1 {
  margin-left: 1em;
}

.ml-2 {
  margin-left: 2em;
}

.mr-2 {
  margin-right: 2em;
}

.mw-6 {
  min-width: 6em;
}

.c-tag {
  color: var(--tag);
}

.btn {
  cursor: pointer;
}

.hidden {
  display: none;
}

.tag-pm {
  font-size: 0.7em;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  background-color: var(--pm);
  border-radius: 20px;
  padding: 2px 8px;
}

details.toc ul {
  list-style-type: none;
  padding-inline-start: 1em;
  margin: 0;
}

details.toc ul > li {
  margin: 1em 0;
}

.nowrap {
  white-space: nowrap;
  overflow: auto;
}

@keyframes showup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@media (max-width: 640px) {
  .row-mob {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    row-gap: 0;
  }

  .al-c-mob {
    align-items: center;
  }

  .col-rev-mob {
    flex-direction: column-reverse;
  }

  .sm-2-mob {
    font-size: 0.9em;
  }

  .mb-0_5-mob {
    margin-bottom: 0.5em;
  }

  .mb-1_5-mob {
    margin-bottom: 1.5em;
  }
}