{{ define "main" }}
<div class="container mx-auto">
  <h1 class="text-4xl font-extrabold mt-6 mb-6">{{ .Title }}</h1>
  <div class="mb-3 text-sm flex justify-between ">
    <div>
      {{ if .Site.Params.displayDate }}
      {{ T "post.at" }} &mdash; {{ .Date | time.Format (T "timeformat") }}
      {{ end }}
      {{ if .Draft }}
      <span class="ml-3 tag">
        DRAFT
      </span>
      {{ end }}
    </div>
    {{ if .Params.tags }}
    <div>
      {{ range $tag := .Params.tags }}
      {{ $url := printf "tags/%s" $tag | relLangURL }}
      <a class="ml-1" href="{{ $url }}">#{{ . }}</a>
      {{ end }}
    </div>
    {{ end }}
  </div>
  <main class="mb-8">
    <p>{{ .Description | markdownify | safeHTML }}</p>
    <article class="md">
      {{ .Content }}
    </article>
  </main>
  {{ partial "plugin.html" . }}
</div>
{{ end }}