.light {
  --prime: #3170a7;
  --grid: #e1e1e1;
  --back: #fff;
  --text: #222;
  --code-back: #fff;

  // code highlighting
}

.dark {
  --prime: #3170a7;
  --back: #181818;
  --text: silver;
  --grid: #555;
  --code-back: #222;

  // code highlighting
}