{{ $giscus := .Site.Params.comment.giscus }}
<script 
  src="https://giscus.app/client.js"
  data-repo="{{ $giscus.repo }}"
  data-repo-id="{{ $giscus.repoId }}"
  data-category="{{ $giscus.category }}"
  data-category-id="{{ $giscus.categoryId }}"
  data-mapping="{{ $giscus.mapping }}"
  data-strict="0"
  data-reactions-enabled="{{ cond $giscus.reactions 1 0 }}"
  data-emit-metadata="{{ cond $giscus.metadata 1 0 }}"
  data-input-position="{{ $giscus.inputPosition }}"
  data-theme="preferred_color_scheme"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async>
</script>
