<header class="flex justify-between items-center mb-6 sm:my-3">
  <div class="flex items-center">
    {{ if .Site.Params.brand }}
    <div class="mr-3 text-3xl"><a href="/">{{ .Site.Params.brand }}</a></div>
    {{ end }}
    <div id="theme-switcher" class="text-4xl cursor-pointer">{{ index .Site.Params.switch 1 }}</div>
  </div>
  <nav class="flex items-center
    whitespace-nowrap overflow-x-auto overflow-y-hidden">
    {{ range .Site.Menus.main }}
    <a class="ml-5" href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
  </nav>
</header>