<header class="mt-3 mb-8">
  <div class="container mx-auto">
    <nav class="flex justify-between items-center">
      <div class="flex items-center">
        {{ if .Site.Params.brand }}
        <div class="mr-3 text-3xl"><a href="/">{{ .Site.Params.brand }}</a></div>
        {{ end }}
        <div id="theme-switch" class="text-2xl cursor-pointer">{{ index .Site.Params.switch 1 }}</div>
      </div>
      <ul class="flex items-center text-base font-semibold
        whitespace-nowrap overflow-x-auto overflow-y-hidden">
        {{ range .Site.Menus.main }}
        <li class="ml-2 mr-2">
          {{ if eq .Identifier "home" }}
          <a href='{{ relLangURL "" }}'>{{ T .Identifier | default .Name }}</a>
          {{ else }}
          <a href="{{ relLangURL .Identifier }}">{{ T .Identifier | default .Name }}</a>
          {{ end }}
        </li>
        {{ end }}
      </ul>
      {{ if gt (len $.Site.Home.AllTranslations) 1 }}
      <ul class="flex item-center text-sm font-semibold">
        {{ range $.Site.Home.AllTranslations }}
        <li class="ml-2"><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
        {{ end}}
      </ul>
      {{ end }}
    </nav>
  </div>
</header>
