<header>
  <div class="flex justify-between items-center">
    <h1 class="mb-5 flex items-center
    whitespace-nowrap overflow-x-auto overflow-y-hidden">
      {{ .Site.Title }}
    </h1>
    <div id="theme-switcher" class="text-4xl ml-4 cursor-pointer">{{ index .Site.Params.switch 1 }}</div>
  </div>
  <nav class="mb-5 flex items-center
    whitespace-nowrap overflow-x-auto overflow-y-hidden">
    {{ range .Site.Menus.main }}
    <a class="mr-3" href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
  </nav>
  <hr>
</header>