<div>
  <div class="flex flex-col-reverse sm:flex-row sm:justify-between">
    {{ if .Page.Params.link }}
    <a class="text-lg font-bold" href="{{ .Page.Params.link }}">{{ .Title }}</a>
    {{ else }}
    <a class="text-lg font-bold" href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ end }}
    {{ if .Site.Params.displayDate }}
    <div class="text-sm font-bold whitespace-nowrap">{{ .Date | time.Format (T "timeformat") }}</div>
    {{ end }}
  </div>
  {{ if .Site.Params.displayDescription }}
  <p class="text-base mb-2">
    {{ .Description | markdownify | safeHTML }}
  </p>
  {{ end }}
</div>