<script>
  window.minima_theme = localStorage.getItem('theme')
</script>

{{ if or .Params.math .Site.Params.math }}
{{ partial "katex.html" . }}
{{ end }}

{{ if or .Params.mermaid .Site.Params.mermaid }}
{{ partial "mermaid.html" . }}
{{ end }}

{{ if or .Params.comment (and .Site.Params.commentOnAllPosts (ne .Params.comment false)) }}

{{ if eq .Site.Params.comment.provider "disqus"}}
{{ partial "disqus.html" . }}
{{ end }}

{{ if eq .Site.Params.comment.provider "giscus" }}
{{ partial "giscus.html" . }}
{{ end }}

{{ if eq .Site.Params.comment.provider "utterances"}}
{{ partial "utterances.html" . }}
{{ end }}

{{ end }}