{{ define "main" }}
	<main>
		<h2 class="mt-8 mb-1">{{ .Site.Params.iam }} {{ .Site.Author.name }}</h2>
		<p class="my-0">{{ .Site.Author.slogon }}</p>
		<p class="my-3 home-intro">{{ .Site.Author.description | markdownify | safeHTML }}</p>
		{{ if eq .Paginator.PageNumber 1 }}
		<h3 class="my-6">{{ .Site.Params.recent }}</h3>
		{{ else }}
		<h3 class="my-6">{{ .Site.Params.older }}</h3>
		{{ end }}
		<div>
			{{ $paginator := .Paginate (where .Site.RegularPages "Kind" "page") }}
			{{ range $paginator.Pages }}
			{{ partial "list.html" . }}
			{{ end }}
			{{ partial "paginator.html" . }}
		</div>
		{{ if .Site.Params.friends.feeds }}
		<h3 class="my-6">{{ .Site.Params.friends.title }}</h3>
		<div id="friends"></div>
		{{ end }}
	</main>
{{ end }}